@media (min-width: 1440px) {
  header {
    width: 1440px;
    height: 80px;
    margin: auto;
    padding: 17px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    position: static;
    width: 230px;
    display: flex;
    justify-content: space-between;
  }
  input {
    width: 760px;
  }
  .logo {
    margin: 0;
  }
  main {
    width: 1440px;
    margin: 0 auto;
  }
  .boks {
    width: 1280px;
    height: 260px;
    padding: 0;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 24px;
    height: 260px;
  }

  /*          HERO             */

  .block {
    display: flex;
    align-items: flex-start;
    height: 260px;
    width: 780px;
  }
  .block p {
    position: static;
    width: 435px;
  }
  .text_block {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    width: 435px;
    height: 145px;
  }
  .text_block .name {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #ffffff;
  }
  .text_block .skidki {
    margin-top: 20px;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #ebba1a;
  }
  .text_block .yslovie {
    margin-top: 10px;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #dedede;
  }
  .block img {
    margin-top: 36px;
  }

  /*           КАТАЛОГ           */

  h2 {
    font-size: 32px;
    padding-left: 80px;
  }
  .catalog_boks {
    width: 1280px;
    justify-content: center;
    overflow-x: hidden;
    margin: 0 auto;
  }
  .catalog_card {
    width: 200px;
    height: 245px;
  }
  .catalog_img {
    background-color: #bcc5ff;
    width: 200px;
    height: 210px;
  }
  .catalog_boks_phone {
    display: none;
  }
  .catalog_boks_desktop {
    display: block;
    position: relative;
  }
  .catalog_card p {
    padding-top: 12px;
  }
  .katalog_scroll {
    position: absolute;
    right: 80px;
    top: 74px;
  }
  /*            АКЦИИ            */
  .akcion_boks {
    overflow-x: hidden;
    gap: 20px;
  }
  .akcion_card {
    width: 215px;
  }
  .akcion_card_pic {
    padding: 24px 24px 0 24px;
  }
  .akcion_card_pic_phone {
    display: none;
  }
  .akcion_card_pic_desktop {
    display: block;
  }
  .descr {
    font-size: 32px;
  }
  .img_carusel {
    padding: 12px 0 20px 0;
    gap: 6px;
  }
  .price_boks {
    font-size: 14px;
    padding-top: 16px;
  }
  .price {
    font-size: 20px;
  }
  .button {
    width: 165px;
    padding: 14px 49px;
    margin: 20px 26px 24px 26px;
  }
}
